@model HerramientaAD.Models.AnalisisBD
    @{
        ViewBag.Title = "AnalisisBD";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <!DOCTYPE HTML>
    <html>

    <head>
        <script>
            window.onload = function () {

                var Datos = [];

                      @{
                foreach (HerramientaAD.com.Utilerias.ElementosDeGrupo.GraficaPie3V grafica1 in Model.LlavePrimaria)
                {
                    @:Datos.push({ y: @grafica1.Porcentaje, name: "@grafica1.Nombre" });
                }
            }


                var chart = new CanvasJS.Chart("graficaLlavePrimaria", {
                    exportEnabled: true,
                    animationEnabled: true,
                    legend: {
                        cursor: "pointer",
                        itemclick: explodePie
                    },
                    data: [{
                        type: "pie",
                        showInLegend: true,
                        toolTipContent: "{name}: <strong>{y}%</strong>",
                        indexLabel: "{name} - {y}%",
                        dataPoints: Datos
                    }]
                });


                chart.render();
                Datos = [];

                @{
                foreach (HerramientaAD.com.Utilerias.ElementosDeGrupo.GraficaPie3V grafica2 in Model.LlavePrimaria)
                {
                    @:Datos.push({ y: @grafica2.Valor, label: "@grafica2.Nombre" });
                }
            }


                var chart = new CanvasJS.Chart("graficaLlavePrimaria2", {
                    exportEnabled: true,
                    animationEnabled: true,
                    data: [{
                        type: "column",
                        indexLabel: "{ y }",
                        showInLegend: false,
                        dataPoints: Datos
                    }]
                });
                chart.render();

                var Datos = [];

                      @{
                foreach (HerramientaAD.com.Utilerias.ElementosDeGrupo.GraficaPie3V grafica3 in Model.LlaveForanea)
                {
                    @:Datos.push({ y: @grafica3.Porcentaje, name: "@grafica3.Nombre" });
                }
            }


                var chart = new CanvasJS.Chart("graficaLlaveForanea", {
                    exportEnabled: true,
                    animationEnabled: true,
                    legend: {
                        cursor: "pointer",
                        itemclick: explodePie
                    },
                    data: [{
                        type: "pie",
                        showInLegend: true,
                        toolTipContent: "{name}: <strong>{y}%</strong>",
                        indexLabel: "{name} - {y}%",
                        dataPoints: Datos
                    }]
                });


                chart.render();
                Datos = [];

                @{
                foreach (HerramientaAD.com.Utilerias.ElementosDeGrupo.GraficaPie3V grafica4 in Model.LlaveForanea)
                {
                    @:Datos.push({ y: @grafica4.Valor, label: "@grafica4.Nombre" });
                }
            }


                var chart = new CanvasJS.Chart("graficaLlaveForanea2", {
                    exportEnabled: true,
                    animationEnabled: true,
                    data: [{
                        type: "column",
                        indexLabel: "{ y }",
                        showInLegend: false,
                        dataPoints: Datos
                    }]
                });
                chart.render();

                var Datos = [];

                      @{
                foreach (HerramientaAD.com.Utilerias.ElementosDeGrupo.GraficaPie3V grafica5 in Model.Indexes)
                {
                    @:Datos.push({ y: @grafica5.Porcentaje, name: "@grafica5.Nombre" });
                }
            }


                var chart = new CanvasJS.Chart("graficaIndexes", {
                    exportEnabled: true,
                    animationEnabled: true,
                    legend: {
                        cursor: "pointer",
                        itemclick: explodePie
                    },
                    data: [{
                        type: "pie",
                        showInLegend: true,
                        toolTipContent: "{name}: <strong>{y}%</strong>",
                        indexLabel: "{name} - {y}%",
                        dataPoints: Datos
                    }]
                });


                chart.render();
                Datos = [];

                @{
                foreach (HerramientaAD.com.Utilerias.ElementosDeGrupo.GraficaPie3V grafica6 in Model.Indexes)
                {
                    @:Datos.push({ y: @grafica6.Valor, label: "@grafica6.Nombre" });
                }
            }


                var chart = new CanvasJS.Chart("graficaIndexes2", {
                    exportEnabled: true,
                    animationEnabled: true,
                    data: [{
                        type: "column",
                        indexLabel: "{ y }",
                        showInLegend: false,
                        dataPoints: Datos
                    }]
                });
                chart.render();

                Datos = [];

                @{
                foreach (HerramientaAD.com.Utilerias.ElementosDeGrupo.GraficaColumnas grafica7 in Model.TipoObjeto)
                {
                    @:Datos.push({ y: @grafica7.EjeY, label: "@grafica7.Etiqueta" });
                }
            }


                var chart = new CanvasJS.Chart("graficaTipoOBjeto", {
                    exportEnabled: true,
                    animationEnabled: true,
                    data: [{
                        type: "column",
                        indexLabel: "{ y }",
                        showInLegend: false,
                        dataPoints: Datos
                    }]
                });
                chart.render();

                Datos = [];

                @{
                foreach (HerramientaAD.com.Utilerias.ElementosDeGrupo.GraficaColumnas grafica8 in Model.TamanoTabla)
                {
                    @:Datos.push({ y: @grafica8.EjeY, label: "@grafica8.Etiqueta" });
                }
            }


                var chart = new CanvasJS.Chart("graficaTamanoTabla", {
                    exportEnabled: true,
                    animationEnabled: true,
                    axisY: {
                        title: "Registros x 1000"
                    },
                    data: [{
                        type: "column",
                        indexLabel: "{ y }",
                        showInLegend: false,
                        dataPoints: Datos
                    }]
                });
                chart.render();



                Datos = [];

                @{
                foreach (HerramientaAD.com.Utilerias.ElementosDeGrupo.GraficaColumnas grafica9 in Model.LineasEfectivas)
                {
                    @:Datos.push({ y: @grafica9.EjeY, label: "@grafica9.Etiqueta" });
                }
            }


                var chart = new CanvasJS.Chart("graficaLE", {
                    exportEnabled: true,
                    animationEnabled: true,
                    data: [{
                        type: "column",
                        indexLabel: "{ y }",
                        showInLegend: false,
                        dataPoints: Datos
                    }]
                });
                chart.render();

                Datos = [];

                @{
                foreach (HerramientaAD.com.Utilerias.ElementosDeGrupo.GraficaColumnas grafica10 in Model.LineasComentadas)
                {
                    @:Datos.push({ y: @grafica10.EjeY, label: "@grafica10.Etiqueta" });
                }
            }


                var chart = new CanvasJS.Chart("graficaLineasComentadas", {
                    exportEnabled: true,
                    animationEnabled: true,
                    data: [{
                        type: "column",
                        indexLabel: "{ y }",
                        showInLegend: false,
                        dataPoints: Datos
                    }]
                });
                chart.render();

                Datos = [];

                @{
                foreach (HerramientaAD.com.Utilerias.ElementosDeGrupo.GraficaColumnas grafica11 in Model.Select)
                {
                    @:Datos.push({ y: @grafica11.EjeY, label: "@grafica11.Etiqueta" });
                }
            }


                var chart = new CanvasJS.Chart("graficaSelect", {
                    exportEnabled: true,
                    animationEnabled: true,
                    data: [{
                        type: "column",
                        indexLabel: "{ y }",
                        showInLegend: false,
                        dataPoints: Datos
                    }]
                });
                chart.render();

                Datos = [];

                @{
                foreach (HerramientaAD.com.Utilerias.ElementosDeGrupo.GraficaColumnas grafica12 in Model.Insert)
                {
                    @:Datos.push({ y: @grafica12.EjeY, label: "@grafica12.Etiqueta" });
                }
            }


                var chart = new CanvasJS.Chart("graficaInsert", {
                    exportEnabled: true,
                    animationEnabled: true,
                    data: [{
                        type: "column",
                        indexLabel: "{ y }",
                        showInLegend: false,
                        dataPoints: Datos
                    }]
                });
                chart.render();

                Datos = [];

                @{
                foreach (HerramientaAD.com.Utilerias.ElementosDeGrupo.GraficaColumnas grafica13 in Model.Update)
                {
                    @:Datos.push({ y: @grafica13.EjeY, label: "@grafica13.Etiqueta" });
                }
            }


                var chart = new CanvasJS.Chart("graficaUpdate", {
                    exportEnabled: true,
                    animationEnabled: true,
                    data: [{
                        type: "column",
                        indexLabel: "{ y }",
                        showInLegend: false,
                        dataPoints: Datos
                    }]
                });
                chart.render();

                Datos = [];

                @{
                foreach (HerramientaAD.com.Utilerias.ElementosDeGrupo.GraficaColumnas grafica14 in Model.Delete)
                {
                    @:Datos.push({ y: @grafica14.EjeY, label: "@grafica14.Etiqueta" });
                }
            }


                var chart = new CanvasJS.Chart("graficaDelete", {
                    exportEnabled: true,
                    animationEnabled: true,
                    data: [{
                        type: "column",
                        indexLabel: "{ y }",
                        showInLegend: false,
                        dataPoints: Datos
                    }]
                });
                chart.render();

                Datos = [];

                @{
                foreach (HerramientaAD.com.Utilerias.ElementosDeGrupo.GraficaColumnas grafica15 in Model.Siif)
                {
                    @:Datos.push({ y: @grafica15.EjeY, label: "@grafica15.Etiqueta" });
                }
            }


                var chart = new CanvasJS.Chart("graficaSi", {
                    exportEnabled: true,
                    animationEnabled: true,
                    data: [{
                        type: "column",
                        indexLabel: "{ y }",
                        showInLegend: false,
                        dataPoints: Datos
                    }]
                });
                chart.render();

                Datos = [];

                @{
                foreach (HerramientaAD.com.Utilerias.ElementosDeGrupo.GraficaColumnas grafica16 in Model.Loop)
                {
                    @:Datos.push({ y: @grafica16.EjeY, label: "@grafica16.Etiqueta" });
                }
            }


                var chart = new CanvasJS.Chart("graficaLoop", {
                    exportEnabled: true,
                    animationEnabled: true,
                    data: [{
                        type: "column",
                        indexLabel: "{ y }",
                        showInLegend: false,
                        dataPoints: Datos
                    }]
                });
                chart.render();

                Datos = [];

                @{
                foreach (HerramientaAD.com.Utilerias.ElementosDeGrupo.GraficaColumnas grafica17 in Model.Select2)
                {
                    @:Datos.push({ y: @grafica17.EjeY, label: "@grafica17.Etiqueta" });
                }
            }


                var chart = new CanvasJS.Chart("graficaSelect2", {
                    exportEnabled: true,
                    animationEnabled: true,
                    data: [{
                        type: "column",
                        indexLabel: "{ y }",
                        showInLegend: false,
                        dataPoints: Datos
                    }]
                });
                chart.render();


                Datos = [];

                @{
                foreach (HerramientaAD.com.Utilerias.ElementosDeGrupo.GraficaColumnas grafica18 in Model.Excepcion)
                {
                    @:Datos.push({ y: @grafica18.EjeY, label: "@grafica18.Etiqueta" });
                }
            }


                var chart = new CanvasJS.Chart("graficaExcepcion", {
                    exportEnabled: true,
                    animationEnabled: true,
                    data: [{
                        type: "column",
                        indexLabel: "{ y }",
                        showInLegend: false,
                        dataPoints: Datos
                    }]
                });
                chart.render();

            }


            function explodePie(e) {
                if (typeof (e.dataSeries.dataPoints[e.dataPointIndex].exploded) === "undefined" || !e.dataSeries.dataPoints[e.dataPointIndex].exploded) {
                    e.dataSeries.dataPoints[e.dataPointIndex].exploded = true;
                } else {
                    e.dataSeries.dataPoints[e.dataPointIndex].exploded = false;
                }
                e.chart.render();

            }
        </script>
    </head>

    <body>

        <div class="jumbotron">
            <h1 class="display-3">SICOFIN</h1>
            <p class="lead">Resultados del Análisis de la Base de Datos</p>
            <hr class="my-4">
        </div>

        <table border="1" width="100%">
            <tr class="table-primary"><td colspan="2" align="center">LLAVE PRIMARIA</td></tr>
            <tr>
                <td><div id="graficaLlavePrimaria" style="height: 370px;"></div></td>
                <td><div id="graficaLlavePrimaria2" style="height: 370px;"></div></td>
            </tr>
            <tr class="table-primary"><td colspan="2" align="center">LLAVE FORANEA</td></tr>
            <tr>
                <td><div id="graficaLlaveForanea" style="height: 370px;"></div></td>
                <td><div id="graficaLlaveForanea2" style="height: 370px;"></div></td>
            </tr>
            <tr class="table-primary"><td colspan="2" align="center">INDICES</td></tr>
            <tr>
                <td><div id="graficaIndexes" style="height: 370px;"></div></td>
                <td><div id="graficaIndexes2" style="height: 370px;"></div></td>
            </tr>
            <tr class="table-primary"><td colspan="2" align="center">TIPOS DE OBJETO</td></tr>
            <tr>
                <td colspan="2"><div id="graficaTipoOBjeto" style="height: 370px;"></div></td>
            </tr>
            <tr class="table-primary"><td colspan="2" align="center">TAMAÑO DE LAS TABLAS</td></tr>
            <tr>
                <td colspan="2"><div id="graficaTamanoTabla" style="height: 370px;"></div></td>
            </tr>
            <tr class="table-primary"><td colspan="2" align="center">LINEAS EFECTIVAS</td></tr>
            <tr>
                <td colspan="2"><div id="graficaLE" style="height: 370px;"></div></td>
            </tr>
            <tr class="table-primary"><td colspan="2" align="center">LINEAS COMENTADAS</td></tr>
            <tr>
                <td colspan="2"><div id="graficaLineasComentadas" style="height: 370px;"></div></td>
            </tr>
            <tr class="table-primary"><td colspan="2" align="center">SELECT</td></tr>
            <tr>
                <td colspan="2"><div id="graficaSelect" style="height: 370px;"></div></td>
            </tr>
            <tr class="table-primary"><td colspan="2" align="center">INSERT</td></tr>
            <tr>
                <td colspan="2"><div id="graficaInsert" style="height: 370px;"></div></td>
            </tr>
            <tr class="table-primary"><td colspan="2" align="center">UPDATE</td></tr>
            <tr>
                <td colspan="2"><div id="graficaUpdate" style="height: 370px;"></div></td>
            </tr>
            <tr class="table-primary"><td colspan="2" align="center">DELETE</td></tr>
            <tr>
                <td colspan="2"><div id="graficaDelete" style="height: 370px;"></div></td>
            </tr>
            <tr class="table-primary"><td colspan="2" align="center">IF</td></tr>
            <tr>
                <td colspan="2"><div id="graficaSi" style="height: 370px;"></div></td>
            </tr>
            <tr class="table-primary"><td colspan="2" align="center">LOOP</td></tr>
            <tr>
                <td colspan="2"><div id="graficaLoop" style="height: 370px;"></div></td>
            </tr>
            <tr class="table-primary"><td colspan="2" align="center">SELECT *</td></tr>
            <tr>
                <td colspan="2"><div id="graficaSelect2" style="height: 370px;"></div></td>
            </tr>
            <tr class="table-primary"><td colspan="2" align="center">EXCEPTION</td></tr>
            <tr>
                <td colspan="2"><div id="graficaExcepcion" style="height: 370px;"></div></td>
            </tr>
        </table>

        <script src="~/Scripts/canvasjs.min.js"></script>
    </body>
</html>